modelling/Base-model-RS/artifacts/*
modelling/.ipynb_checkpoints/*
modelling/mlruns/*
modelling/xlm-roberta-large-squad2/*
modelling/pyfunc_model/data/xlm-roberta-large-squad2/*

flask-app/models/*
flask-app/__pycache__/*
flask-app/mlruns/*

app-v0/flask-app/__pycache__
app/flask-app/pyfunc_model/*
app/flask-app/__pycache__

mlruns/*
models/*
.ipynb_checkpoints/*
.vscode/*