<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>C.R.E.A.M. | A Tool for Evaluating Climate-Related Business Risks</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <center><h1>Climate Risk Exposure Analysis Machine</h1></center>      
            <p>Helping investors understand whether companies are prepared for climate-change risks, so that they can make better investment decisions and we can have a cleaner, more sustainable world.</p>
            <center><img src="{{url_for('static', filename='earth-photo.jpg')}}" alt="Image of Earth from https://depositphotos.com/" style="width:300px;height:300px;"></center>
        </div>
    </div>
    <div class="container-md">
        <br><br>
        <form action="{{url_for('answers')}}" method="post" enctype=multipart/form-data>
            <div class="mb-3">
                <label for="uploadInput" class="form-label">Upload a company's Sustainability Disclosure Report, 10-K/10-Q, S-4, or Proxy, in PDF, TXT, or DOCX format, to extract answers from. Multiple documents can be uploaded:</label>
                <input type="file" name="uploaded_files" class="form-control" id="uploadInput" aria-describedby="emailHelp" multiple>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Enter the name of the company:</label>
                <input type="text" name="company" class="form-control" id="exampleFormControlInput1" placeholder="Acme Corporation">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Select the question you'd like answered about the company:</label>
                <select class="form-select" name="question" aria-label="Default select example">
                    <option selected>Choose one of the following:</option>
                    <option value="1">1: Does the organization describe the board’s oversight of climate-related risks and/or opportunities?</option>
                    <option value="2">2: Does the organization describe management’s role in assessing and managing climate-related risks and/or opportunities? </option>
                    <option value="3">3: Does the organization describe the climate-related risks or opportunities the organization has identified?</option>
                    <option value="4">4: Does the organization describe time frames (short, medium, or long term) associated with its climate-related risks or opportunities? </option>
                    <option value="5">5: Does the organization describe the impact of climate-related risks and opportunities on the organization?</option>
                    <option value="6">6: Does the organization describe the resilience of its climate strategy?</option>
                    <option value="7">7: Does the organization disclose the use of a 2C scenario in evaluating strategy or financial planning, or for other business purposes? </option>
                    <option value="8">8: Does the organization describe the organization’s processes for identifying and/or assessing climate-related risks? </option>
                    <option value="9">9: Does the organization describe the organization’s processes for managing climate-related risks? </option>
                    <option value="10">10: Does the organization describe how processes for identifying, assessing, and managing climate-related risks are integrated into the organization’s overall risk management?</option>
                    <option value="11">11: Does the organization disclose the metrics it uses to assess climate-related risks and/or opportunities?" </option>
                    <option value="12">12: Does the organization disclose Scope 1 and Scope 2, and, if appropriate Scope 3 GHG emissions?</option>
                    <option value="13">13: Does the organization describe the targets it uses to manage climate-related risks and/or opportunities?</option>
                    <option value="14">14: Does the organization describe its performance related to those targets (referenced in question 13)? </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>