<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>C.R.E.A.M. | A Tool for Evaluating Climate-Related Business Risks</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <center><h1>Climate Risk Exposure Analysis Machine</h1></center>      
            <p>Helping investors understand whether companies are prepared for climate-change risks, so that they can make better investment decisions and we can have a cleaner, more sustainable world.</p>
            <center><img src="{{url_for('static', filename='earth-photo.jpg')}}" alt="Image of Earth from https://depositphotos.com/" style="width:300px;height:300px;"></center>
        </div>
    </div>
    <div class="container-md">
        <br><br>
        <form action="{{url_for('upload')}}" method="post" enctype=multipart/form-data>
            <div class="mb-3">
                <label for="uploadInput" class="form-label">Upload a company's 10-K/Q, S-4, or proxy, in PDF format, to extract answers from:</label>
                <input type="file" name="uploaded_file" class="form-control" id="uploadInput" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Select the question you'd like answered about the company:</label>
                <select class="form-select" name="question" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">1: How does your board oversee climate issues?</option>
                    <option value="2">2: Who is responsible for climate-related issues?</option>
                    <option value="3">3: How are climate issues monitored?</option>
                    <option value="4">4: Do you identify and respond to climate risks and opportunities?</option>
                    <option value="5">5: How do you define long-term time horizons?</option>
                    <option value="6">6: How do you identify and respond to climate risks and opportunities?</option>
                    <option value="7">7: Which climate risk types do you consider?</option>
                    <option value="8">8: Do you assess your portfolio's exposure to climate risks and opportunities?</option>
                    <option value="9">9: How do you assess your portfolio's exposure to climate risks and opportunities?</option>
                    <option value="10">10: Do you request climate-related information from your clients or investees?</option>
                    <option value="11">11: Do climate risks have a financial impact on your business?</option>
                    <option value="12">12: What climate risks may have a financial impact on your business?</option>
                    <option value="13">13: Are there any climate opportunities that have financial impact on your business?</option>
                    <option value="14">14: What climate opportunities will have a financial impact on your business?</option>
                    <option value="15">15: Have climate risks and opportunities influenced your strategy or finances?</option>
                    <option value="16">16: Do you analyze climate scenarios to inform your strategy?</option>
                    <option value="17">17: What climate scenarios do you analyze?</option>
                    <option value="18">18: How have climate risks and opportunities influenced your strategy?</option>
                    <option value="19">19: How have climate risks and opportunities influenced your financial planning?</option>
                    <option value="20">20: Do climate issues effect your external asset manager or independent asset manager selection?</option>
                    <option value="21">21: How do climate issues effect your external asset manager or independent asset manager selection?</option>
                    <option value="22">22: Did you have an emissions target?</option>
                    <option value="23">23: What is your absolute emissions target progress?</option>
                    <option value="24">24: What is your emissions intensity target progress?</option>
                    <option value="25">25: Did you have climate targets?</option>
                    <option value="26">26: What are your targets to increase low-carbon energy consumption or production?</option>
                    <option value="27">27: What are your methane-reduction targets?</option>
                    <option value="28">28: What were your buildings' operational Scope 1 emissions in metric tons of carbon dioxide?</option>
                    <option value="29">29: What were market-based power usage Scope 2 emissions in metric tons of carbon dioxide?</option>
                    <option value="30">30: What were your employees' Scope 3 emissions in metric tons of carbon dioxide?</option>
                    <option value="31">31: What climate metrics do you use?</option>
                    <option value="32">32: Do you analyze how your portfolio impacts the climate?</option>
                    <option value="33">33: What are your Scope 3 portfolio emissions?</option>
                    <option value="34">34: What is your Scope 3 portfolio impact from Category 15 Investments with alternative carbon footprinting or exposure metrics?</option>
                    <option value="35">35: Why do you not conduct analysis to understand how your portfolio impacts the climate with Scope 3 portfolio impact from Category 15 Investments with alternative carbon footprinting or exposure metrics?</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>