<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Climateval</title>
</head>
<body>
    <div class="container-md">
        <br><br>
        <form action="{{url_for('upload')}}" method="post" enctype=multipart/form-data>
            <div class="mb-3">
                <label for="uploadInput" class="form-label">Upload a 10-K/Q or S-4 or Proxy PDF to extract from</label>
                <input type="file" name="uploaded_file" class="form-control" id="uploadInput" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Select the question you'd like to answer</label>
                <select class="form-select" name="question" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="QuestionString">Are there any climate-related risks with the potential to have a substantive financial or strategic impact?</option>
                  </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>